.item {
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 80%;
  margin-right: 10px;
  margin-top: 5%;
}

.badge {
  width: 100%;
  margin-right: 20px;
  margin-top: 5%;
}

button {

}
