<div class="medicine">
  <div class="medicine-container">
    <div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Wpisz wyszukiwaną frazę" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
      </form>
    </div>
    <div class="row">
      <div class="column" *ngFor="let item of PRODUCTS">
        <medicine-item class="card" [id]="item.id" [title]="item.name" [text]="item.price" [image]="item.image">
        </medicine-item>
      </div>
    </div>
  </div>
</div>


