.medicine {
  width: 100%;
  height: auto;
  background-image: url("https://f.hubspotusercontent10.net/hub/491011/hubfs/LS%20Central%20for%20Pharmacy/Pharmacy-background-2.jpg?length=2000&name=Pharmacy-background-2.jpg");
}

.medicine-container {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
}

.form-inline {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.form-inline .form-control {
  width: 90%;
}

.form-inline .btn {
  width: 9%;
}

card-item {
  text-align: center;
  align-items: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 8%;
  text-align: center;
  background-color: #f1f1f1;
}
