<div class="medicine">
  <div class="medicine-container">
    <div>
      <form class="form-inline">
        <input [(ngModel)]="phrase" class="form-control mr-sm-2" name="search" placeholder="Wpisz wyszukiwaną frazę">
        <button (click)="findByPhrase(phrase)" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Szukaj</button>
      </form>
    </div>
    <div class="row">
      <div class="column" *ngFor="let item of items$">
        <medicine-item class="card" [id]="item.id" [title]="item.name" [description]="item.description | truncate:140" [price]="item.price + ' zł'" [image]="item.imageURL">
        </medicine-item>
      </div>
    </div>
  </div>
</div>


