<div class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Apteka Online</h5>
        <pre></pre>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          <br> Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
          <br> Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
          <br> Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Kontakt</h5>
        <ul class="list-unstyled">
          <pre></pre>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;apteka.online@gmail.com
          </li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;692 721 022
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;ul. Krakowska 56, 33-100 Tarnów
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Znajdź nas</h5>
        <ul class="list-unstyled">
          <pre></pre>
          <li>
            <a><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="padding-right: 1rem;"></i></a>
            <a><i class="fa fa-google fa-2x" aria-hidden="true" style="padding-right: 1rem;"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright Rafał Rzeszutek
  </div>
</div>
