.user {
  width: 70%;
  margin: auto;
  padding-top: 2%;
}

.container {
  display: list-item;
  list-style: none;
  overflow: hidden;
  height: 850px;
}


mat-expansion-panel {
  margin-top: 2%;
  width: 70%;
}

.example-form {
  display: inline-block;
}

button {
  margin-left: 20px;
}

.container {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

.content-container {
  margin-bottom: 5%;
}

mat-nav-list {
  text-decoration: none;
}

a {
  outline: none;
}

mat-list-item {
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.mat-drawer-content {
  padding-top: 2%;
  width: 100%;
}

.password-change {
  position: relative;
  margin: auto;
  width: 70%;
}

.password-form-field {
  width: 70%;
  margin-top: 5%;
}

.confirm-button {
  display: flex;
  justify-content: center;
  width: 70%;
}
