<div class="container">
  <div style="text-align: center; margin-bottom: 8%;">
    <h1>Resetowanie hasła</h1>
  </div>
  <div class="form">
    <mat-form-field class="password-form-field">
      <mat-label>Wprowadź email, którego używasz do logowanie się</mat-label>
      <input matInput [(ngModel)]="this.credentials.loginName" type="email">
    </mat-form-field>
  </div>
  <div class="confirm-button">
    <button (click)="sendEmail({loginName: this.credentials.loginName})" class="btn btn-primary btn-sm" style="width: 100px; height: 40px; margin-top: 2%;">
      Zmień hasło</button>
  </div>
</div>
