.navbar {
  position: sticky;
  display: flex;
  width: 100%;
  top: 0px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type: none;
  padding-left: 5%;
}

li a {
  position: relative;
}

li a {
  margin-left: 20px;
  font-size: 105%;
}

li a.active-route {
  border-bottom: 2px solid cornflowerblue;
}

li a:hover {
  border-bottom: 2px solid cornflowerblue;
}

.cart {
  display: flex;
  position: absolute;
  right: 2%;
}

output {
  font-weight: bolder;
  margin-left: 10px;
  font-size: 130%;
}

.fa.fa-shopping-cart.fa-2x {
  outline: none;
}

.fa.fa-user-circle.fa-2x {
  outline: none;
  margin-top: 1%;
}

.dropdown-user {
  outline: none;
}

.user-name {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 95%;
  font-weight: bolder;
}

.user {
  display: flex;
  float: right;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.cart-icon {
  float: left;
  padding-left: 40px;
  margin-top: 1%;
}

.mat-icon {
  outline: none;
}
