.navbar {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type: none;
  padding-left: 5%;
}

li {
  margin-left: 20px;
  font-size: 105%;
}

.active-route {
  border-bottom: 2px solid cornflowerblue;
}

//
//li a {
//  text-decoration: none;
//  color: black;
//  border-bottom: 3px solid transparent;
//  padding: 14px;
//}
//
//li a:hover {
//  border-bottom: 3px solid green;
//}
//
//li a.active {
//  border-bottom: 3px solid green;
//}

