<!--<nav class="navbar navbar-light">-->
<!--  <ul class="nav">-->
<!--    <li class="nav-item"><a class="h5 text-uppercase" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>-->
<!--    <li class="nav-item"><a class="h5 text-uppercase" [routerLink]="['/medicine']" routerLinkActive="active">Leki</a></li>-->
<!--    <li class="nav-item"><a class="h5 text-uppercase" [routerLink]="['/prescription']" routerLinkActive="active">E-recepta</a></li>-->
<!--    <li class="nav-item"><a class="h5 text-uppercase" [routerLink]="['/equipment']" routerLinkActive="active">Sprzęt</a></li>-->
<!--  </ul>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fa fa-heartbeat fa-3x" aria-hidden="true" style="padding-left: 1%;"></i>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active-route">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="medicine" routerLinkActive="active-route">Leki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="equipment" routerLinkActive="active-route">Sprzęt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="prescription" routerLinkActive="active-route">E-Recepty</a>
      </li>
    </ul>
  <div class="cart">
    <div *ngIf="loggedIn()" class="user">
      <p class="user-name">{{getEmail()}}</p>
      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      <button class="dropdown-user" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button *ngIf="isAdmin()" [routerLink]="['/control-panel', {
        outlets: {
          'medicine-outlet': ['add-medicine'],
          'equipment-outlet': ['add-equipment'],
          'orders-panel-outlet': ['orders-panel'],
          'medicines-panel-outlet': ['medicines-panel'],
          'equipment-panel-outlet': ['equipment-panel'],
          'users-panel-outlet': ['users-panel'],
          'forms-panel-outlet': ['forms-panel']
        }
        }]" style="outline: none;" mat-menu-item>
          <mat-icon>build</mat-icon>
          <span>Panel Administracyjny</span>
        </button>
        <button routerLink="user-settings" style="outline: none;" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Ustawienia</span>
        </button>
        <button style="outline: none;" mat-menu-item (click)="logout()">
          <mat-icon>login</mat-icon>
          <span>Wyloguj</span>
        </button>
      </mat-menu>
    </div>
    <div class="cart-icon">
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true" routerLink="order"></i>
      <output>{{getProductCount()}}</output>
    </div>
  </div>
</nav>
