.row {
  margin: 10% 5% 25% 25%;
}

.buttons {
  margin-top: 4%;
}

img {
  height: 326px;
  width: 326px;
}

.btn.btn-outline-primary {
  width: 40px;
  margin-left: 2%;
  margin-right: 2%;
}

output {
  padding-top: 1%;
}
