<!--<div class="details">-->
<!--  <div class="card border-primary mb-3" style="max-width: 18rem;">-->
<!--    <div class="card-header">{{name}}</div>-->
<!--    <div class="card-body text-primary">-->
<!--      <p class="card-text">{{name}}</p>-->
<!--      <p class="card-text">{{description}}</p>-->
<!--      <img class="card-img-top" [src]="imageUrl">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--Section: Block Content-->
<div class="row">
  <div class="col-6 col-md-4">
    <img [src]="imageURL">
  </div>
  <div class="col-12 col-md-8">
    <p class="mb-2 text-muted text-uppercase">{{name}}</p>
    <hr>
    <p><span class="mr-1"><strong>{{price}} zł</strong></span></p>
    <p class="pt-1">{{description}}</p>
    <div class="buttons">
      <p class="mb-2 text-muted text-uppercase">Dodaj do koszyka</p>
      <div style="margin-top: 2%">
        <button (click)="addEquipmentToCart({'id': id,'name': name,'price': price,'quantity': 1})" class="btn btn-outline-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>
