.order {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.container {
  width: 50%;
  margin-top: 5%;
}

mat-card {
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 5%;
  width: 50%;
  //height: 5em;
}

.sum {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.card {
  width: 50%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 5rem;
}

label {
  margin-right: 10px;
}

.collapse {
  display: block;
}

.address-label {
  display: grid;
  width: 50%;
  margin: auto;
}

.label {
  font-weight: bolder;
}

.shipment {
  display: flex;
  justify-content: center;
}

.spinner {
  position: absolute;
  background-color: black;
  border-radius: 15px;
  opacity: 50%;
  top: 30%;
  right: 50%;
  z-index: 999;
}

.empty {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.text {
  position: absolute;
  text-align: center;
  top: 38%;
}

.item {
  display: flex;
  justify-content: space-between;
}

.count {
  font-size: 80%;
  margin-right: 10px;
  margin-top: 5%;
}

.badge {
  width: 100%;
  margin-right: 20px;
  margin-top: 5%;
}
