.order {
  display: flex;
  justify-content: center;
  //position: relative;
  //height: 700px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 5%;
  width: 50%;
  //height: 5em;
}

.sum {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  width: 50%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 5rem;
}

label {
  margin-right: 10px;
}

.collapse {
  display: block;
}

.address-label {
  display: grid;
  width: 50%;
  margin: auto;
}

.label {
  font-weight: bolder;
}

