<div class="order">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items$">
      <order-item [id]="item.id" [title]="item.name" [price]="item.price" [quantity]="item.quantity">
      </order-item>
    </li>
  </ul>
</div>
<div class="sum">
  <div class="card">
    <div class="card-header">
      <b>Łączna kwota:</b>
      {{sum}} zł
    </div>
  </div>
</div>
<form method="post">
  <div class="sum">
    <div class="form-check form-check-inline">
      <input [(ngModel)]="credentials.shipment" class="form-check-input" type="radio" name="shipmentOptions" id="inlineRadio1" value=true>
      <label class="form-check-label" for="inlineRadio1">Dostawa</label>
      <input [(ngModel)]="credentials.shipment" class="form-check-input" type="radio" name="shipmentOptions" id="inlineRadio2" value=false>
      <label class="form-check-label" for="inlineRadio2">Odbiór osobisty</label>
    </div>
  </div>
<!--  <div class="sum">-->
<!--    <button class="btn btn-primary btn-lg" data-target="div" type="button" data-toggle="collapse">Dostawa</button>-->
<!--    <div class="collapse" id="div">-->
<!--      <div class="card card-body">-->
<!--        <p>WebSocket is closed before the connection is established.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="address-label">
    <label class="label" for="address">Adres</label>
    <input [(ngModel)]="credentials.address" name="address" type="text" id="address" placeholder="Wprowadź adres np. Tarnów, ul. Mickiewicza 56">
  </div>
  <div class="sum">
    <div class="form-check form-check-inline">
      <input [(ngModel)]="credentials.payment" class="form-check-input" type="radio" name="paymentOptions" id="inlineRadio3" value="Przy odbiorze">
      <label class="form-check-label" for="inlineRadio3">Przy odbiorze</label>
      <input [(ngModel)]="credentials.payment" class="form-check-input" type="radio" name="paymentOptions" id="inlineRadio4" value="Blik">
      <label class="form-check-label" for="inlineRadio4">Blik</label>
    </div>
  </div>
</form>
<div class="sum">
  <button (click)="create()" type="submit" class="btn btn-primary">Dalej</button>
</div>
