.container {
  display: list-item;
  list-style: none;
  margin-top: 5%;
  height: 800px;
}

mat-expansion-panel {
  margin-top: 2%;
}

.example-form {
  display: inline-block;
}

button {
  margin-left: 20px;
}

.equipment {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
}
