.container {
  display: list-item;
  list-style: none;
  margin-top: 5%;
  height: 850px;
}

mat-expansion-panel {
  margin-top: 2%;
}

.example-form {
  display: inline-block;
}

button {
  margin-left: 20px;
}
