.container {
  display: list-item;
  list-style: none;
  margin-top: 5%;
  //height: 850px;
  margin-bottom: 5%;
}

mat-expansion-panel {
  margin-top: 2%;
}

mat-panel-description {
}

.example-form {
  display: inline-block;
}

button {
  margin-left: 20px;
}

.medicine {
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  height: 200px;
}
