<div class="container">
  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row">
    <div class="column" *ngFor="let item of banks">
      <mat-card for="bank">
        <input type="radio" value="item.bank" name="bank">
        <img [src]="item.img">
      </mat-card>
    </div>
    <div class="input">
      <mat-form-field class="example-full-width" for="number" style="width: 1000px">
        <mat-label>Wprowadź numer konta</mat-label>
        <input matInput [(ngModel)]="account" name="number" for="number" required>
      </mat-form-field>
      <button (click)="pay()" type="submit" class="btn btn-primary">Kup</button>
    </div>
  </div>
</div>
