<div *ngIf="!loggedIn()" class="container">
  <img src="https://f.hubspotusercontent10.net/hub/491011/hubfs/LS%20Central%20for%20Pharmacy/Pharmacy-background-2.jpg?length=2000&name=Pharmacy-background-2.jpg"
       width=100%>
  <i class="fa fa-ban fa-5x" aria-hidden="true"></i>
  <div class="text">
    <h1>Brak dostępu</h1>
    <p>Zaloguj się, aby uzyskać dostęp do przeglądania informacji.</p>
    <a href="home"><button class="btn btn-primary">Powrót</button></a>
  </div>
</div>
<div class="prescription" *ngIf="loggedIn()">
  <img src="https://f.hubspotusercontent10.net/hub/491011/hubfs/LS%20Central%20for%20Pharmacy/Pharmacy-background-2.jpg?length=2000&name=Pharmacy-background-2.jpg"
       width=100%>
  <div class="labels">
    <div>
      <h1 class="data">Wprowadź dane</h1>
    </div>
    <mat-form-field>
      <input matInput [(ngModel)]="credentials.PESEL" name="PESEL" type="text" id="PESEL" placeholder="Wprowadź PESEL">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="credentials.code" name="code" type="text" id="code" placeholder="Wprowadź kod">
    </mat-form-field>
      <div class="submit-button">
        <button (click)="getPrescription(credentials.PESEL, credentials.code)" type="submit" class="btn btn-primary">Dalej</button>
      </div>
  </div>
</div>
