.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

img {
  position: absolute;
}

i {
  position: absolute;
  top: 28%;
}

.text {
  position: absolute;
  text-align: center;
  top: 38%;
}

h1 {
  font-size: 350%;
}

p {
  font-size: 100%;
  margin-top: 2%;
}

.btn {
  margin-top: 5%;
  width: 25%;
}

.prescription {
  display: flex;
  justify-content: center;
}

.labels {
  position: absolute;
  display: grid;
  width: 30%;
  margin-top: 8%;
}

.label {
  margin-top: 5%;
}

.data {
  font-size: 200%;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5%;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}
