.card {
  height: 600px;
}

.description-container {
  height: 150px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn.btn-outline-primary {
  width: 40px;
}

output {
  margin-top: 2%;
}
