.card {
  height: 600px;
}

.description-container {
  height: 150px;
}

.buttons-container {
  display: inline-block;
}

.btn.btn-outline-primary {
  margin-left: 20px;
}

output {
  margin-top: 2%;
}
