<div class="home">
  <img src="https://f.hubspotusercontent10.net/hub/491011/hubfs/LS%20Central%20for%20Pharmacy/Pharmacy-background-2.jpg?length=2000&name=Pharmacy-background-2.jpg"
       width=100%>
  <div  class="form-group">
    <div style="padding: 1%;">
      <i class="fa fa-user fa-5x" id="icon" aria-hidden="true"></i>
      <h1 class="h2">Logowanie użytkownika</h1>
    </div>
    <form style="margin-top: 5%;">
      <div>
        <label for="login">Email lub PESEL</label>
        <input type="email" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Wprowadź Email lub nr PESEL">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Wprowadź hasło">
        <button type="button" class="btn btn-success btn-lg" [routerLink]="['/login']">Zaloguj się</button>
      </div>
    </form>
    <div class="forgot">
      <a>Zapomniałeś hasła?</a>
    </div>
  </div>
</div>
