.home {
  position: relative;
}

img {
  opacity: 35%;
}

.form-group {
  position: absolute;
  background: #f1f1f1;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 56%;
  width: 30%;
  border-style: solid;
  border-color: steelblue;
  border-radius: 10px;
  border-width: 3px;
  padding: 1%;
}

.fa.fa-arrow-left {
  color: steelblue;
}

.fa.fa-user {
  display: flex;
  justify-content: center;
  color: steelblue;
}

h1 {
  text-align: center;
}

.form-group label, input {
  margin-top: 2%;
}

.btn-primary {
  width: 100%;
  margin-top: 5%;
}

.forgot {
  text-align: center;
  padding: 2%;
}
