<div class="home">
  <img src="https://cdn2.hubspot.net/hub/491011/hubfs/BLOG_Trends-in-retail-pharmacy.jpg?length=2000&name=BLOG_Trends-in-retail-pharmacy.jpg"
       width=100%>
  <div class="form-group">
    <div style="padding: 1%;">
        <a href="home"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
      <h1 class="h2">Logowanie użytkownika</h1>
    </div>
    <form action="post" autocomplete="off" method="POST" style="margin-top: 5%;">
      <div>
        <label for="login">Email lub PESEL</label>
        <input [(ngModel)]="credentials.login" name="login" type="email" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Wprowadź Email lub nr PESEL">
        <label for="password">Hasło</label>
        <input [(ngModel)]="credentials.password" name="password" type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Wprowadź hasło">
        <button (click)="signIn()" type="submit" class="btn btn-primary btn-lg">Zaloguj się</button>
      </div>
    </form>
    <div class="forgot">
      <a>Zapomniałeś hasła?</a>
    </div>
  </div>
</div>
