<div class="container">
  <div style="text-align: center; margin-bottom: 8%;">
    <h1>Zmiana hasła</h1>
  </div>
  <div class="form">
    <mat-form-field class="password-form-field">
      <mat-label>Wprowadź nowe hasło</mat-label>
      <input matInput [(ngModel)]="credentials.password" type="password">
    </mat-form-field>
    <mat-form-field class="password-form-field">
      <mat-label>Wprowadź nowe hasło ponownie</mat-label>
      <input matInput [(ngModel)]="passwordRepeated" type="password">
    </mat-form-field>
  </div>
  <div class="confirm-button">
    <button (click)="resetPassword({id: this.id, password: this.credentials.password}, this.token)" class="btn btn-primary btn-sm" style="width: 100px; height: 40px; margin-top: 2%;">
      Zmień hasło</button>
  </div>
</div>
