.container {
  display: block;
  height: 650px;
  max-width: 50%;
  overflow-x: hidden;
  margin-top: 8%;
}

mat-form-field {
  width: 100%;
}

.confirm-button {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}
