.container {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

.content-container {
  margin-bottom: 5%;
}

mat-nav-list {
  text-decoration: none;
}

a {
  outline: none;
}

mat-list-item {
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.mat-drawer-content {
  padding-top: 2%;
  width: 100%;
}

li {
  list-style: none;
  text-decoration: none;
}

li a {
  text-decoration: none;
}
