.container {
  margin-top: 5%;
  margin-bottom: 15%;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.card-content {
  width: 75%;
  margin: auto;
}

.card {
  width: 80%;
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.expansion {
  margin-top: 2%;
  margin-bottom: 2%;
}
