.container {
  margin-top: 5%;
  height: 750px;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.card-content {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 80%;
  margin: auto;
}

.content {
  padding-top: 5%;
  text-align: left;

}

.expansion {
  margin-top: 2%;
  margin-bottom: 2%;
}
