<div class="home">
  <img src="https://cdn2.hubspot.net/hub/491011/hubfs/BLOG_Trends-in-retail-pharmacy.jpg?length=2000&name=BLOG_Trends-in-retail-pharmacy.jpg"
       width=100%>
  <div  class="form-group">
    <div style="padding: 1%;">
      <a href="home"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-sign-in fa-5x" id="icon" aria-hidden="true"></i>
      <h1 class="h2">Rejestracja użytkownika</h1>
    </div>
    <form method="post" style="margin-top: 5%;">
      <div>
        <label for="login">Email lub PESEL</label>
        <input [(ngModel)]="credentials.loginName" name="loginName" type="text" class="form-control" id="login" placeholder="Wprowadź Email lub nr PESEL">
        <label for="name">Imię</label>
        <input [(ngModel)]="credentials.name" name="name" type="text" class="form-control" id="name" placeholder="Wprowadź imię">
        <label for="surname">Nazwisko</label>
        <input [(ngModel)]="credentials.surname" name="loginName" type="text" class="form-control" id="surname" placeholder="Wprowadź nazwisko">
        <label for="password">Hasło</label>
        <input [(ngModel)]="credentials.password" name="loginName" type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Wprowadź hasło">
        <label for="repeatPassword">Powtórz hasło</label>
        <input type="password" class="form-control" id="repeatPassword" aria-describedby="emailHelp" placeholder="Wprowadź hasło jeszcze raz">
        <button (click)="create()" type="submit" class="btn btn-primary btn-lg">Zarejestruj się</button>
      </div>
    </form>
  </div>
</div>
