.container {
  position: relative;
}
input {
  width: 60%;
}

label {
  margin-top: 5px;
}

.reimbursed-container {
  display: grid;
  margin-top: 1%;
  width: 60%;
}

button {
  margin-top: 3%;
}

h1 {
  margin-left: 16%;
  margin-bottom: 2%;
}
